<div class="ui green segment">
  <span class="ui label">{{@model.employee.email}}</span>
  <button class="ui black button" type="button" {{action "logout"}}>
    Logout
  </button>
</div>
<h2>Préparation de commandes</h2>
<ul>
  <h3>Créées (en attente de préparation)</h3>
  {{#each @model.orders as |order|}}
    {{#if (eq order.status 'prepared')}}
      <li>
        <LinkTo @route="order" @model={{order.id}}>
          <i class="hourglass end icon orange"></i>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
        </LinkTo>
      </li>
    {{/if}}
  {{/each}}
  <h3>Préparées</h3>
  {{#each @model.orders as |order|}}
    {{#if (eq order.status 'created')}}
      <li>
        <LinkTo @route="order" @model={{order.id}}>
          <i class="check icon green"></i>
          {{order.dateCreation}} <span class="ui circular label">{{order.count}}</span>
          <button class="ui green button">{{order.toPay}} €</button>
        </LinkTo>
      </li>
    {{/if}}
  {{/each}}
</ul>